#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

<div id="crudShow" class="${type.name}">

    <h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>
    
	<div id="map" style="height:180px;width:180px;"></div>
	    <script type="text/javascript">
	var map = L.map('map', {
	    center: [48.904, 2.2135],
	    zoom: 17
	});
	L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		attribution: 'Map data &copy; OpenStreetMap contributors - <a href="http://www.hostedredmine.com/projects/geoloc-upo">Our Redmine</a>, proudly powered by <a href="http://www.hostedredmine.com">Hosted Redmine</a>',
	    maxZoom: 19
	}).addTo(map);
	</script>
	
    <div class="objectForm">
    #{form action:@save(object._key()), enctype:'multipart/form-data'}
        #{crud.form /}
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
        </p>
    #{/form}
    </div>

    #{form @delete(object._key())}
        <p class="crudDelete">
            <input type="submit" value="&{'crud.delete', type.modelName}" />
        </p>
    #{/form}

</div>