html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
}
#map {
	margin-top: 40px;
	width: 100%;
	height: 100%;
}

/* Responsive design tablette puis smartphone */

@media (max-width: 979px) {
	#map {
		margin-top: 0;
	}
	.navbar-fixed-top {
		margin-bottom: 0;
	}
}
@media (max-width: 767px) {
	#map {
		margin-top:0;
	}
    body {
    	padding-left:0;
    	padding-right:0;
    }
}