#{extends 'main.html' /} 
#{set title:'Geoloc\'UPO' /}
<br/>
<br/>
<br/>
<div class="container">
	<a href="/webservices/listeBatimentsXML"><button class="btn">Liste batiments XML</button></a>
	<a href="/webservices/listeBatimentsJSON"><button class="btn">Liste batiments JSON</button></a>
	<a href="/webservices/listeBatimentsIdXML"><button class="btn">Liste batiments id XML</button></a>
	<a href="/webservices/listeBatimentsIdJSON"><button class="btn">Liste batiments id JSON</button></a>
	
	<br/>
	<br/>
	
	<div class="well">
		#{form action:@batXML(), enctype:'multipart/form-data'}
		<legend>Batiment par id XML</legend>
		<input type="text" name="id"/><br/>
		<span class="help-block">URL : webservices/batimentXML/(id)</span>
		<button type="submit" class="btn btn-primary">XML</button>
		#{/form}
		
		#{form action:@batJSON(), enctype:'multipart/form-data'}
		<legend>Batiment par id JSON</legend>
		<input type="text" name="id"/><br/>
		<span class="help-block">URL : webservices/batimentJSON/(id)</span>
		<button type="submit" class="btn btn-primary">JSON</button>
		#{/form}
	</div>
</div>


