#{extends 'main.html' /} 
#{set title:'Geoloc\'UPO' /}

<!-- Pop-up de details -->
<div id="details" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">x</button>
		<h3 id="myModalLabel">Titre POI</h3>
	</div>
	<div class="modal-body">
		<div id="carousel-place" align="center"></div>
		<div class="accordion" id="myAccordion"></div>
		<div class="commentaires-facebook"></div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" data-dismiss="modal"
			aria-hidden="true">Retour</button>
	</div>
</div>
<div id="demoGeoloc"></div>
<div id="map"></div>
<script src="@{'/public/javascripts/index.js'}"></script>