#{extends 'main.html' /} 
#{set title:'Geoloc\'UPO' /}
<br/>
<br/>
<a href="/listeBatimentsXML">liste batiments XML</a>
<br/>
<a href="/listeBatimentsJSON">liste batiments JSON</a>
<br/>
<a href="/listeBatimentsIdXML">liste batiments id XML</a>
<br/>
<a href="/listeBatimentsIdJSON">liste batiments id JSON</a>
<br/>
<br/>
#{form action:@batXML(), enctype:'multipart/form-data'}
<label>Batiment par id XML</label>
<input type="text" name="id"/><br/>
<input type="submit" value="XML" />
#{/form}

#{form action:@batJSON(), enctype:'multipart/form-data'}
<label>Batiment par id JSON</label>
<input type="text" name="id"/><br/>
<input type="submit" value="JSON" />
#{/form}