#{extends 'main.html' /} 
#{set title:'Geoloc\'UPO' /}
<br/>
<br/>
<a href="/webservices/listeBatimentsXML">liste batiments XML</a>
<br/>
<a href="/webservices/listeBatimentsJSON">liste batiments JSON</a>
<br/>
<a href="/webservices/listeBatimentsIdXML">liste batiments id XML</a>
<br/>
<a href="/webservices/listeBatimentsIdJSON">liste batiments id JSON</a>
<br/>
<br/>
#{form action:@batXML(), enctype:'multipart/form-data'}
<label>Batiment par id XML (url : webservices/batimentXML/(id) )</label>
<input type="text" name="id"/><br/>
<input type="submit" value="XML" />
#{/form}

#{form action:@batJSON(), enctype:'multipart/form-data'}
<label>Batiment par id JSON (url : webservices/batimentJSON/(id) )</label>
<input type="text" name="id"/><br/>
<input type="submit" value="JSON" />
#{/form}